body{
	background: rgb(67, 64, 64);  /**rgb(241, 143, 143),black**/
	color: white;
	padding:1%
}
/*按钮样式*/
.button {
	font: bold 15px Arial;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 2px 6px;
	border: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
  }
  
  .button:hover {
	background-color: #989595;
	color: #000000;
  }

  /* 自定义按钮样式,暂未投入使用 */
.custom-button {  
    background-color: #4CAF50; /* 默认背景颜色 */
    color: white; /* 默认文字颜色 */
    padding: 10px 20px; /* 内边距 */
    border: none; /* 去掉边框 */
    border-radius: 5px; /* 圆角 */
    cursor: pointer; /* 鼠标指针样式 */
    transition: background-color 0.3s ease; /* 背景颜色过渡效果 */
}

.custom-button:hover {
    background-color: #45a049; /* 悬停时的背景颜色 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 悬停时的阴影效果 */
}
/*计算结果表格样式*/
.stats-control {
  margin: 20px auto;
  padding: 15px;
  /* background: #f5f5f5; */
  border-radius: 5px;
  max-width: 800px;
}

.stats-results {
  margin-top: 20px;
  text-align: left;
}

.stats-results table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

.stats-results th, .stats-results td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.stats-results th {
  background-color: #bbb8b8;
}
/*表格样式*/
.history-query {
  margin: 20px auto;
  padding: 15px;
  /* background: #f0f8ff; */
  border-radius: 5px;
  max-width: 800px;
}

.history-results {
  margin-top: 20px;
}

.history-results table {
  width: 100%;
  border-collapse: collapse;
}

.history-results th, .history-results td {
  border: 1px solid #8d8a8a;
  padding: 8px;
  text-align: center;
}

.history-results th {
  background-color: #6d6e70;
}

.history-results button {
  padding: 5px 10px;
  /* background-color: #4CAF50; */
  /* color: white; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.history-results button:hover {
  background-color: #989595;
}
/*查询结果表格样式*/
.stats-detail {
  margin: 20px 0;
  padding: 15px;
  /* background: #f9f9f9; */
  border: 1px solid #ddd;
  border-radius: 5px;
}

.stats-detail table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

.stats-detail th, .stats-detail td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.stats-detail th {
  background-color: #7c7a7a;
}

.stats-detail button {
  margin-top: 10px;
  padding: 5px 10px;
  /* background-color: #f44336; */
  color: rgb(132, 128, 128);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.stats-detail button:hover {
  background-color: #696666;
}