<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>历史数据查询表</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <style>
		body {
			text-align: center;
		}
            
        table {
            border-collapse: collapse;
            margin: auto;
            width: 80%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #7d7777;
        }
        tr:hover {
            background-color: #585353;
        }
    </style>
</head>
<body >
    <!-- 显示查询结果 -->
		{% if data %}
        <h1>查询结果</h1>
        <table>
            <tr>
                <th>时间戳</th>
                <th>温度</th>
                <th>湿度</th>
            </tr>
            {% for row in data %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        <hr>

        <h3> 返回主页面 ==> <a href="/"class="button">RETURN</a></h3>	
        <hr>
        <p> @2025 Developed by Ningchy , BUPT 2021210585 </p>
</body>
</html>